@import 'https://fonts.googleapis.com/css?family=Muli';

* {
  font-family: 'Muli', sans-serif;
}

h2 {
  padding: 1em 0 1em 1em;
  border-bottom: 2px dotted white;
  font-style: italic;
  font-size: 1.5em;
}

h4 {
  padding: 1em;
}

p {
  font-size: 20px;
  padding: 2em;
}

a {
  color: white;
}
