.header {
  width: 100%;
  height: auto;
  margin: 4em 0 4em 0;
  padding: 1em;
  background-color: white;
  text-align: center;
}

.wrapper:after,
.row:after {
  content: '';
  display: table;
  clear: both;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: #665D54;
  color: white;
  margin-bottom: 4em;
  box-shadow: 0 8px 6px -6px black;
}

.column-6{
  padding: 1em;
  max-width: 50%;
  float: left;
}
.column-12{
  padding: 1em;
  max-width: 100%;
}
