@import "font";
@import "reset";

body{
  background-image: url('../img/cement.jpg');
  background-size: cover;
}

.header {
  width: 100%;
  height: auto;
  margin: 1em 0 1em 0;
  padding: 1em;
  background-color: white;
  text-align: center;
  font-size: 2em;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: #665D54;
  color: white;
  margin-bottom: 20px;
}

.wrapper:after,
.row:after {
  content: '';
  display: table;
  clear: both;
}

.column-6{
  padding: 1em;
  max-width: 50%;
  float: left;
}
.column-12{
  padding: 1em;
  max-width: 100%;
}


h2 {
  padding: 1em 0 1em 1em;
  border-bottom: 2px dotted white;
  font-style: italic;
  font-size: 1.5em;
}

p {
  font-size: 20px;
}

img {
  max-width: 100%;
  .right {
    float: right;
  }
}

a {
  color: white;
}
